(
    axes: {
        "thrust": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
        "turn": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {

    },
)
