#![enable(implicit_some)]
{
"04c60333-c790-4586-aa76-086b19167a04":
List((
    texture_width: 260,
    texture_height: 199,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 124,
            height: 135,
        ),
        (
            x: 126,
            y: 0,
            width: 134,
            height: 199,
        )
    ],
))
}